<%= form_for @article, html: { class: 'form' } do |f| %>
  <p>
    <%= f.text_field :title, class: 'field' , placeholder: "Título" %>
  </p>
  <p>
    <%= f.text_area :body, class: 'field' , placeholder: "Escreve seu texto aqui..." %>
  </p>
  <%= f.submit "Enviar Artigo" %>
<% end %>
<div id="epiceditor">
</div><script src="../epiceditor.min.js"></script>
<script>
var editor = new EpicEditor().load();
</script>