<div id="content" class='span12'>
  <div class="row-fluid">
    <%= cbox(6, 'Formulário de contato') do %>
      <%= form_for User.new, url: user_registration_path do |f| %>

      <% end %>
    </div>
  <% end %>
</div>