<% @articles.each do |article| %>
  <article class="pure-g-r post-cover-1">
    <div class="pure-u-2-3">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          <a href=""><%= article.title %></a>
          <h2 class="splash-subhead"><%= article.summary_body %></h2>
        </h1>
      </div>
    </div>
  </article>
<% end %>