@import "compass";
@import "variables";

html, button, input, select, textarea {
  font-family: $font-family;
}

.epiceditor {
  display: none;
}

#wmd-input.field {
  background-color: $background-color !important;
}

#wmd-preview.field {
  background-color: $background-color;
  border: 1px solid;
  padding: $padding;
  margin-top: 15px;
  width: 99%;
}

article img {
  display: block;
  margin: auto;
  max-width: $image-max-width;
  max-height: $image-max-height;
}

.splash-subhead img{
  max-width: $preview-image-max-width;
  max-height: $preview-image-max-height;
  margin: 0px;
}

time, address {
 color: $dark-font-color;
}

time.splash-date {
  float: left;
}