@import "compass";
@import "variables";

body {
  margin: 0 auto;
  line-height: 1.7em;
  background: $home-background;

  .l-box {
    padding: 10px;
  }
  .header {
    max-height: 84px;
    line-height: 0em;

    margin: 0 0;
    background-color: $background-color;
    border-bottom: 1px solid #b7b7b7;

    .pure-menu {
      padding: $padding;

      a {
        color: $dark-font-color;
      }

      .pure-menu-heading{
        font-family: $font-family;
        font-size: 30px;
      }

      li a:hover {
        background: none;
        border: none;
        color: $font-hover;
      }
    }

    .user-menu{
      right: 0 !important;
      position: absolute !important;
      left: auto !important;
      top: auto !important;
      padding: $padding !important;
      color: $dark-font-color;
    }
  }

  .primary-button {
    background: #02a6eb;
    color: #fff;
  }

  .splash.pure-u-1 {
    max-width: $article-max-width;
    margin: 0 auto;
  }

  .splash {
    margin: 0em auto 0;
    padding: $padding;
    background: $background-color;

    .splash-head {
      font-size: 160%;
      margin: 0;
      line-height: 1.2em;
      font-family: $font-family;
      color: $light-font-color;
      position: relative;
      left: -30px;
      border-left: 0.5em solid;
      background-color: #153D57;
      padding: $padding;

      a{
        text-decoration: none;
        color: $light-font-color;
      }
    }

    .splash-subhead {
      color: $dark-font-color;
      font-weight: 300;
      line-height: 1.4em;
    }

    .splash-text{
      background-color: $light-font-color;
      text-align: left;
      min-height: 120px;
      position: relative;
    }

    .primary-button {
      font-size: 150%;
    }
  }

  .content {
    .content-subhead {
      color: $dark-font-color;
      padding-bottom: 0.3em;
      text-transform: uppercase;
      margin: 0;
      border-bottom: 2px solid #eee;
      display: inline-block;
    }
    .content-ribbon {
      margin: 3em;
      border-bottom: 1px solid #eee;
    }
  }
  .ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
    h2 {
      display: inline;
      font-weight: normal;
    }
  }

  .footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
  }

  .pure-u-2-3 {
    width: 100% !important;
  }

  .post-cover-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px 0 10px 0;
    border-bottom: 1px solid #b7b7b7;
  }

  .entry-content{
    max-width: $article-max-width;
    margin: 0 auto;
    color:  $dark-font-color;

    .body {
      white-space: pre-wrap;
    }
  }

  .entry-date{
    color:  $light-font-color;
    font-family: $font-family;
  }
  .entry-share{
    margin: 20px 0;
  }

  .form{
    margin: 0 auto;
    max-width: $article-max-width;

    .field{
      width: 100%;
      clear: both;
    }
  }
}