// Font variables
$font-family: georgia, "times new roman", times, serif;
$font-hover: #aaa;

$dark-font-color: #153D57;
$light-font-color: #fff;

// Layout variables
$padding: 0.5em;

// backgorund
$background-color: #fff;
$home-background: #153D57;

// images
$image-max-height: 500px;
$image-max-width: 500px;

$preview-image-max-height: 500px;
$preview-image-max-width: 500px;

// Article
$article-max-width: 960px;
