<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="/">
        <%= image_tag 'logo.png' %>
        <span>Title</span>
      </a>
  		<div class="btn-group pull-right" >
  			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
  				<i class="icon-user"></i><span class="hidden-phone"> Entrar</span>
  				<span class="caret"></span>
  			</a>
  			<ul class="dropdown-menu">
  				<li><a href="#">Já possuo cadastro</a></li>
  				<li class="divider"></li>
  				<li><a href="login.html">Cadastrar</a></li>
  			</ul>
  		</div>
    </div>
  </div>
</div>
