<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>Winfo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="content pure-g-r">
      <div class="header pure-u-1">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
          <a class="pure-menu-heading" href="/">Winfo</a>
        </div>
      </div>
    </div>
    <div class="splash pure-u-1">
      <%= yield %>
    </div>
    <div class="footer pure-u-1">Winfo.me - Copyright 2013</div>
  </body>

  <%= javascript_include_tag "application" %>
</html>